body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
#container-cab{
    width: 800px;
    height: 250px;
    background: #294970 url(imagens/fundo.png) bottom repeat-x;
}
#cabecalho{
    width: 100%;
    margin: auto;
}


/*Barra de Navegação*/



#navbar li{
    float: left;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
    height: 20px;
    color: #FFF;
    background: #DE003E url(imagens/divisor.png) no-repeat right;
}

ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar a:visited, a:link{
    color: #FFF;
    text-decoration: none;
}

#navbar a:hover li{
    color: #88062b;

}

#navbar .atual{
    background-color:#88062b;
    color: #FFF;
}

#navbar  a:hover .atual {
    color: #ffffff;

}

/*Imagens do topo*/
.img-top{
    float: right;
    padding-top: 4%;
}

#logo{
    padding-top: 4%;
}

/*Conteúdo*/

#principal{
    width: 800px;
    margin: auto;
    padding: 1%;
}

.lat-esq{
    float: left;
    width: 20%;
    height: 100%;
    margin: 10px;
}

.lat-dir{
    float: right;
    width: 35%;
    height: 100%;
    margin: 10px;
}

.centro{
    float: left;
    width: 35%;
    height: 100%;
    margin: 10px;
    margin-right: 10px ;

}


.title{
    background-color: #294970;
    color: #FFF;
    font-size: 1.1em;
    padding-left: 10px;
    height: 30px;
    padding-top: 10px;
}

#principal ul{
    margin: 5px;
    padding: 0;
    margin-top: 15px;
}
#principal li{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    text-align: left;
}

.entrevistados a{
color: #000000;
text-decoration: none;
list-style-type: none;}

.entrevistados a:hover{
color: #6a7a8f;
background: url(imagens/marcador.png) no-repeat left center;
text-decoration: underline;
padding-left: 20px;}




.img-cont{
    width: 100%;
}

.entr-pess{
    background-color: #DE003E;
    color: #000000;
    width: 250px;
    height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    padding-top: 1% ;
}

.text-cont{
    font-weight: bold;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}



.cont-dir .entr-pess{
    color: #FFF;
    width: 50%;
}

.cont-dir a{
    color: #DE003E;
}

.lista-not li{
    padding: 0px;
    margin: 0;
    height: 65px;
    border-bottom: 2px solid #ccc;
    
}

.lista-not li a img{
    float: left;
    margin: 5px;  
}
.title-inf{
    color: #294970;
    font-size: 20px;
    margin: -5px;

}
.lista-not{
    margin: 0; 
    padding: 0;
    font-size: 14px;
}

.lista-not li:hover{
    background-color: #ccc;
font-size: 13px;}

.leia{
    color: #DE003E;
}

label{
    display: block;
    cursor: pointer;
    margin-top: 10px;
    
}

input{
    font-size: 0.9em;
    width: 150px;
}

.btn{
    width: 80px;
    height: 30px;
    margin: 10px 0px;
    cursor: pointer;
    background-color: #DE003E;
    border: 0.5px solid black;
    color: #FFF;
}

.cont-inf{
    color:#000000
}

.text-cont .leia{
    text-decoration: underline;
}

/*página Brasil*/

.lat-esq-bra{
    width: 500px;
}

/*página entrevista*/

.post{
    margin: 5px;
    padding: 5px;
    font-size: 0.75em;
    font-weight: bold;
}

.img-entr{
    text-align: center;
    display: block;
}

/*Rodapé*/

#rodape{clear: both;
    background-color: #294970;
    height: 80px;
    color: #FFF;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}


